<div class="entity-show">
  <div class="name">
    <%= @author.name %>
  </div>

  <div class="age"><%= @author.age %> years old</div>
  <div class="book-count"><%= @author.books.count %></div> books in this library
  <div class="description"><%= @author.description %></div>

  <div class="section">
    <div class="section-title">
      <div class="title">
        His Most Popular Books
      </div>
    </div>

    <div class="books">
      <%= render @books %>
    </div>
  </div>
</div>
