<nav>
  <div class="header">
    <%= link_to root_path do %>
      <img src="/icon.png" alt="BookNest Icon">
      <span class="title">BookNest</span>
    <% end %>
  </div>
  <div class="menu">
    <div class="link <%= "active" if request.path == books_path %>">
      <%= link_to "Browse", books_path %>
    </div>
    <div class="link <%= "active" if request.path == authors_path %>">
      <%= link_to "Authors", authors_path %>
    </div>
    <div class="link <%= "active" if request.path == publishers_path %>" >
      <%= link_to "Publishers", publishers_path %>
    </div>
  </div>
  <div class="access">
    <% if user_signed_in? %>
      <%= link_to "Profile", "#" %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Signup", new_user_registration_path %>
    <% end %>
  </div>
</nav>
