<div class="search">
  <%= form_with url: publishers_path, method: :get do |form| %>
    <%= form.text_field :query %>
    <%= form.button type="submit", name: "commit", value: "search" do %>
      &#128269;
    <% end %>
  <% end %>
</div>

<div class="section">
  <div class="section-title">
    <div class="title"><%= @section_title %></div>
    <%- if librarian_signed_in? %>
      <%= link_to "New Publisher", new_publisher_path %>
    <% end %>
  </div>
</div>

<div class="entities">
  <% @publishers.each do |publisher| %>
    <%= link_to publisher_path(publisher), class: "entity" do %>
        <%= publisher.name %>
    <% end %>
  <% end %>
</div>
