<div class="entity-show">
  <div class="name">
    <%= @publisher.name %>
  </div>

  <div class="address"><%= @publisher.address %></div>
  <div class="book-count"><%= @publisher.books.count %></div> books in this library
  <div class="description"><%= @publisher.description %></div>

  <div class="section">
    <div class="section-title">
      <div class="title">
        Their Most Popular Books
      </div>
    </div>

    <div class="books">
      <%= render @books %>
    </div>
  </div>
</div>
