<div id="<%= dom_id lending %>">
  <p>
    <strong>User:</strong>
    <%= lending.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= lending.book_id %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= lending.return_date %>
  </p>

  <p>
    <strong>Returned date:</strong>
    <%= lending.returned_date %>
  </p>

  <p>
    <strong>Penalty:</strong>
    <%= lending.penalty %>
  </p>

</div>
